body {
  color: #166ee1;
  background-color: #da4e27f1;
  font-family: Georgia, serif;
}

.subtitle { color: blue}
.subtitle {
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  width: 100px;
}
#page-title { font-size: 48px; color:aqua}
#page-title {
  padding: 20px;
  margin: auto;
}
#red {font-size:medium; color:blue}
